
.App {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  display: flex;
}

.card {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 3em;
  max-height: 3em;
  padding: 1em;
  margin: 0.5em;
  border: 2px solid black;
  border-radius: 5px;
}

.card label {
  font-size: 1.3em;
}